.heding{
    color: #F2F2F2;
    text-align: center;
    margin: 10px auto;
    border-bottom: 4px solid orangered;
    width: 40%; 
}



.lds-hourglass {
    margin: 35px auto;
    text-align: center;
    border: 2px solid rgba(216, 42, 3, 0.399);
    border-radius: 50%;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid orangered;
    border-color: #F2F2F2 transparent #F2F2F2 transparent;
   
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  
  